<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>js 复制</title>
  <style type="text/css">
    .wrapper {position: relative;}
    #input {position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;}
 </style>
</head>
<body>
  <div class="wrapper">
    <p id="text">等待被复制的内容！</p>
    <textarea id="input"></textarea>
    <button onclick="copyText()">copy</button>
    <p>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </p>
  </div>

  <script type="text/javascript">
    function copyText() {
      var text = document.getElementById("text").innerText;
      var input = document.getElementById("input");
      input.value = text; // 修改文本框的内容
      input.select(); // 选中文本
      document.execCommand("copy"); // 执行浏览器复制命令
      alert("复制成功");
    }
  </script>
</body>
</html>